.header {
	text-align: center;
	font-size: 40px;
}

.fwlogo {
	float: left !important;
	padding: 5px;
	margin-right: 4px;
}

.TicketHeader {
	font-size: 30px !important;
	float: left;
	padding: 10px;
}

.createTicket {
	float: right !important;
	width: 25%;
}

.errorRequired {
	border: 1px solid red;
}

.hide {
	display: none;
}
